html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #484C56;
    background-color: #E5E5E5;
}

/* - Позиционирование -------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.container {
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 1px #6B005B33;
    margin: 0px auto;
    padding-right: 15px;
    padding-left: 15px;
}


/* - Карточки -------------------------------------- */
.card {
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;

}

.card:not(:last-of-type){
    border-bottom: solid 1px rgb(163, 175, 187);
}

.card__image {
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-self: start;
    padding-right: 20px;
}

.card__main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card__info {
    display: inline-flex;
    justify-content: space-between;
}

.card__title {
    margin: 0px;
}

.card__date {
    font-style: italic;
}

.card__text {
    display: flex;
    overflow-wrap: anywhere;
}

.card__del {
    width: 80px;
    height: 20px;
}


/* - Форма ввода комментариев ---------------------- */
.form {
    border: solid 1px rgb(163, 175, 187);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form * {
    outline: none;
}

.form__label {
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 2px;
}

.form__button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border-radius: 8px;
}

.form__input {
    padding: 10px;
    border-radius: 8px;
    border: solid 1px rgb(163, 175, 187);
}

